content-creation-5GhiPpwVtlEIoxNR.json
{"createdAt":"2025-09-19T09:41:25.334Z","updatedAt":"2025-09-19T16:00:18.000Z","id":"5GhiPpwVtlEIoxNR","name":"content creation","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"d7489d4a-2dd4-45e5-9798-02be698c5e60","name":"Schedule Trigger"},{"parameters":{"url":"https://www.reallymoving.com/help-and-advice/moving-house-checklist","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"55b3ca8c-cad8-4819-9a8d-77c3f21faae8","name":"HTTP Request"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"name\": \"Set Moving Keywords\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 3.4,\n  \"parameters\": {\n    \"keepOnlySet\": true,\n    \"values\": {\n      \"json\": [\n        {\n          \"name\": \"moving_house_keywords\",\n          \"value\": {\n            \"main_categories\": [\n              \"moving house checklist\",\n              \"conveyancing\",\n              \"removals\",\n              \"surveyors\",\n              \"mortgages\",\n              \"home survey\"\n            ],\n            \"mover_types\": [\n              \"buying only\",\n              \"first time buyer\",\n              \"buy and sell\",\n              \"renting\",\n              \"shared ownership\",\n              \"help to buy\"\n            ],\n            \"services\": [\n              \"conveyancing solicitor\",\n              \"removal company\",\n              \"chartered surveyor\",\n              \"estate agents\",\n              \"mortgage adviser\",\n              \"home insurance\",\n              \"removals insurance\"\n            ],\n            \"checklist_stages\": [\n              \"research your move\",\n              \"arrange your home survey\",\n              \"finalise contracts and pack\",\n              \"get ready to move home\",\n              \"update your address and get organised\",\n              \"prepare to leave your old house\",\n              \"lock up and move out\",\n              \"check your new property\",\n              \"relax in your new home\"\n            ],\n            \"moving_tasks\": [\n              \"exchange contracts\",\n              \"finalise moving date\",\n              \"book removals company\",\n              \"organise parking permits\",\n              \"pack belongings\",\n              \"change address\",\n              \"redirect mail\",\n              \"transfer utilities\",\n              \"defrost fridge freezer\",\n              \"arrange child and pet care\",\n              \"prepare moving day survival kit\",\n              \"read utility meters\",\n              \"collect keys\"\n            ],\n            \"property_related\": [\n              \"property purchase\",\n              \"property sale\",\n              \"home move\",\n              \"new home\",\n              \"old house\",\n              \"property transaction\",\n              \"moving day\",\n              \"completion date\"\n            ],\n            \"costs_and_quotes\": [\n              \"conveyancing costs\",\n              \"removals quotes\",\n              \"surveying costs\",\n              \"moving costs\",\n              \"removal fees\",\n              \"legal fees\"\n            ],\n            \"locations_mentioned\": [\n              \"Scotland\",\n              \"UK regions\"\n            ],\n            \"company_info\": [\n              \"reallymoving.com\",\n              \"moving quotes\",\n              \"service comparison\",\n              \"customer reviews\",\n              \"partner directory\"\n            ]\n          }\n        }\n      ]\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"ba3f08ed-2439-4fa0-8588-47aa697d0fe3","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=You are a professional content creator for a moving company in Morocco called Cameo Trans.\n\nYour task: Create one Facebook post about moving houses.\n\nData source: {{ $json.parameters.values.json }}\n\nInstructions:\n\nRandomly choose one stage from the checklist_stages array.\n\nWrite a Facebook post focused on that stage.\n\nUse a friendly, professional, helpful tone.\n\nAdd Moroccan context when relevant (Casablanca, Rabat, Marrakech, Tangier, etc.).\n\nInclude hashtags (#MoroccoMove, #CameoTrans, #PackingTips, etc.).\n\nEnd with: \"Contact Cameo Trans today 📦🚚 | 0681642996\".\n\nKeep it informative and slightly longer than Instagram style.\n\nOutput requirement:\n\nMust be valid JSON only.\n\nNo code blocks, no markdown, no explanations, no extra text.\n\nJSON structure:\n\n{\n  \"facebook_post\": \"Your Facebook post text here\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[592,0],"id":"10b97f84-ebbc-4f02-87d9-005e12a22877","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,208],"id":"603fe0e5-9698-40e6-a2f7-f6e7e376809f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"8IokudigvXDO7LZM","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"f669fe40-038f-4353-8cc5-21e05e1a8404","name":"facebookpost","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,0],"id":"5ae61e3a-7046-4f88-8e38-8cb16e671211","name":"Edit Fields1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a9c7e7b-ada7-40fb-a191-d1288cf953ed","triggerCount":0,"shared":[{"createdAt":"2025-09-19T09:41:25.350Z","updatedAt":"2025-09-19T09:41:25.350Z","role":"workflow:owner","workflowId":"5GhiPpwVtlEIoxNR","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}