day-12-miniproject-IXSBKJ1wINHzrXh7.json
{"createdAt":"2025-10-03T14:04:20.011Z","updatedAt":"2025-10-03T14:20:45.000Z","id":"IXSBKJ1wINHzrXh7","name":"day 12 miniproject","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"5c629ad2-acb4-4533-a3d2-86bb6e27c14a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,-16],"id":"9c4b2c34-75fb-4e2b-be7d-1ec838b1b9a9","name":"Webhook","webhookId":"5c629ad2-acb4-4533-a3d2-86bb6e27c14a"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-880,-16],"id":"7191e8be-ba7e-41b7-9c24-f3b6f51e2838","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-992,192],"id":"1b04e11e-431c-43c3-bc97-b49098eaddcc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"kLT0JbVkWr355FLq","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5b8bd296-87d4-4d06-a505-c6e5ced2ebaa","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,-16],"id":"a401eb07-a49d-4206-b71d-e4285b828576","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-80],"id":"a603482f-4f70-4db5-8f2f-9c183faac05c","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[48,-64],"id":"8e049658-72e3-47bd-ad91-c605eae975ac","name":"Respond to Webhook"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-320,80],"id":"2ac51bc9-7194-4e69-b95f-903cf7d6b3e2","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"jeXhB1pEN32bSlRP","name":"Google Calendar account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,80],"id":"22aa675b-be68-48e0-8727-490da273ed50","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[96,80],"id":"dc80403f-fde5-4d13-b2c0-94a3efa89019","name":"Respond to Webhook1"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Get many events","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f66f4da1-63b7-4f47-9660-2ee682e73d7e","triggerCount":0,"shared":[{"createdAt":"2025-10-03T14:04:20.051Z","updatedAt":"2025-10-03T14:04:20.051Z","role":"workflow:owner","workflowId":"IXSBKJ1wINHzrXh7","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}