day-11-mini-project-qyKZMijG6Pc8BgV8.json
{"createdAt":"2025-10-03T08:59:10.864Z","updatedAt":"2025-10-06T01:56:04.000Z","id":"qyKZMijG6Pc8BgV8","name":"day 11 mini project","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"5c629ad2-acb4-4533-a3d2-86bb6e27c14a","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-768,-32],"id":"2ad9bba0-e492-4e33-8fca-328389ac717d","name":"Webhook","webhookId":"5c629ad2-acb4-4533-a3d2-86bb6e27c14a"},{"parameters":{"promptType":"define","text":"={{ $json.query.message }}","options":{"systemMessage":"You are an intent classifier. Analyze the user's message and respond with EXACTLY one of these three options:\n\nOrder Status\nSchedule Call\nUnknown\n\nRules:\n- If the user asks about their order, tracking, delivery, or shipping → respond with: Order Status\n- If the user wants to talk to someone, schedule a call, or speak with support → respond with: Schedule Call\n- If the message doesn't match either category → respond with: Unknown\n- Respond with ONLY those exact words, nothing else\n- No explanations, no punctuation, no extra text"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-480,-32],"id":"12fdda34-b11d-40dc-96bd-813b673a8c0b","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-592,176],"id":"ca072009-ec80-4fd6-a307-539e7e276f7c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"kLT0JbVkWr355FLq","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"af89604b-994a-43a8-ba99-ee0887f2a0b5","name":"response ","value":"={{ $json.output }}is currently being processed and will ship in 2 days ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,-144],"id":"d49b1019-6254-4940-866d-0847b7af2490","name":"Edit Fields"},{"parameters":{"jsCode":"// Get all events from Google Calendar\nconst items = $input.all();\nconst events = items.map(item => item.json);\nconst now = new Date();\nconst availableSlots = [];\n\n// Business hours: 9 AM - 5 PM, Monday-Friday (Casablanca time)\nconst businessHours = {\n  start: 9,\n  end: 17\n};\n\nconsole.log(`Checking against ${events.length} calendar events`);\n\n// Generate potential time slots for next 7 days\nfor (let day = 0; day < 7; day++) {\n  const checkDate = new Date(now);\n  checkDate.setDate(now.getDate() + day);\n  \n  // Skip weekends\n  if (checkDate.getDay() === 0 || checkDate.getDay() === 6) continue;\n  \n  // Check each hour in business day\n  for (let hour = businessHours.start; hour < businessHours.end; hour++) {\n    const slotStart = new Date(checkDate);\n    slotStart.setHours(hour, 0, 0, 0);\n    \n    const slotEnd = new Date(slotStart);\n    slotEnd.setHours(hour + 1);\n    \n    // Check if slot conflicts with existing events\n    const hasConflict = events.some(event => {\n      if (!event.start || !event.end) return false;\n      \n      const eventStart = new Date(event.start.dateTime || event.start.date);\n      const eventEnd = new Date(event.end.dateTime || event.end.date);\n      \n      return slotStart < eventEnd && slotEnd > eventStart;\n    });\n    \n    if (!hasConflict && slotStart > now) {\n      availableSlots.push({\n        start: slotStart.toISOString(),\n        // Format in local Casablanca time\n        formatted: slotStart.toLocaleString('en-US', {\n          weekday: 'long',\n          month: 'long',\n          day: 'numeric',\n          hour: 'numeric',\n          minute: '2-digit',\n          hour12: true,\n          timeZone: 'Africa/Casablanca'\n        })\n      });\n    }\n    \n    // Stop after finding 3 slots\n    if (availableSlots.length >= 3) break;\n  }\n  if (availableSlots.length >= 3) break;\n}\n\nconsole.log(`Found ${availableSlots.length} available slots`);\n\nreturn [{ \n  json: { \n    slots: availableSlots\n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,16],"id":"217e6a05-3260-479a-80e2-5b592c118de9","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Order Status","operator":{"type":"string","operation":"equals"},"id":"d6ca9955-f07e-4d17-861d-798adfc579eb"}],"combinator":"and"},"renameOutput":true,"outputKey":"order status"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4096e10a-5c60-4590-9b73-11582a9f4376","leftValue":"={{ $json.output }}","rightValue":"Schedule Call","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"schedul call"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"40870759-11ae-4b9a-8bc2-eeb788b7d790","leftValue":"={{ $json.output }}","rightValue":"Unknown","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Unknown"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-160,-16],"id":"f1afdfb3-64d5-49f3-a560-fd81ab69403e","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"1a0d720f-ba49-4866-8db8-d809e4119965","name":"response","value":"=📞 Available Time Slots\nI'd be happy to schedule a call with our support team. Here are the next available slots:\n1️⃣ {{ $json.slots[0].formatted }}\n2️⃣ {{ $json.slots[1].formatted }}\n3️⃣ {{ $json.slots[2].formatted }}\nReply with the number of your preferred time slot.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,16],"id":"9f899367-25fb-47c9-874b-219d686cecf3","name":"\"Format Call Options"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,0],"id":"eddf6493-f249-46db-8315-6183e7b0a2b2","name":"Respond to Webhook1"},{"parameters":{"assignments":{"assignments":[{"id":"8f263419-7b9d-4ed5-9aa4-bfdada1883a7","name":"response","value":"Unknown","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,192],"id":"573cd60d-1ef8-4a59-b85c-0e595fa6839b","name":"Unknown"},{"parameters":{"content":"\n","height":480,"width":272},"type":"n8n-nodes-base.stickyNote","position":[-880,-176],"typeVersion":1,"id":"dc6af923-15fa-47b4-800a-3ca38c7d90a9","name":"Sticky Note"},{"parameters":{"content":"","height":480,"width":384,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-608,-176],"typeVersion":1,"id":"2d7008c3-8b16-489f-9a12-9166de159ab0","name":"Sticky Note1"},{"parameters":{"content":"","height":480,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-224,-176],"typeVersion":1,"id":"ebde69c6-d055-4cf8-af7d-4ad9851f6639","name":"Sticky Note2"},{"parameters":{"content":"","height":480,"width":976,"color":3},"type":"n8n-nodes-base.stickyNote","position":[16,-176],"typeVersion":1,"id":"3ee391ee-3c12-4ff8-adf3-a1fdf4583674","name":"Sticky Note3"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"ayoubhabibeddine@gmail.com","mode":"list","cachedResultName":"ayoubhabibeddine@gmail.com"},"timeMax":"={{ $now.plus(1, 'week') }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[128,0],"id":"a930abbf-424e-4548-b263-d5b5f3a51070","name":"Get availability in a calendar","credentials":{"googleCalendarOAuth2Api":{"id":"jeXhB1pEN32bSlRP","name":"Google Calendar account"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"\"Format Call Options","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Get availability in a calendar","type":"main","index":0}],[{"node":"Unknown","type":"main","index":0}]]},"\"Format Call Options":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Unknown":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Get availability in a calendar":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20f1f953-166f-4dd7-bf03-f761c394dd7c","triggerCount":0,"shared":[{"createdAt":"2025-10-03T08:59:10.919Z","updatedAt":"2025-10-03T08:59:10.919Z","role":"workflow:owner","workflowId":"qyKZMijG6Pc8BgV8","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}