googlesheet-qta20QvGeTqiCgtA.json
{"createdAt":"2025-09-12T11:51:44.545Z","updatedAt":"2025-10-02T08:58:24.000Z","id":"qta20QvGeTqiCgtA","name":"googlesheet","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"{\n  \"productName\": \"T-shirt\",\n  \"description\": \"Cotton T-shirt\",\n  \"variants\": [\n    {\"size\": \"M\", \"color\": \"Black\", \"price\": 20},\n    {\"size\": \"L\", \"color\": \"Blue\", \"price\": 22}\n  ]\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,0],"id":"c535f6f9-a3e6-4e4f-8b5c-9d59fd338e83","name":"Edit Fields"},{"parameters":{"jsCode":"// Get the input data\nconst inputData = $input.all();\nconst flattenedProducts = [];\n\ninputData.forEach((item, index) => {\n  const productData = item.json;\n\n  if (productData.variants && Array.isArray(productData.variants)) {\n    productData.variants.forEach(variant => {\n      const flattenedEntry = {\n        productId: productData.productId,   // 👈 added productId\n        productName: productData.productName,\n        description: productData.description || '',\n        ...variant\n      };\n\n      flattenedProducts.push({\n        json: flattenedEntry,\n        pairedItem: { item: index }\n      });\n    });\n  }\n});\n\nreturn flattenedProducts;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,0],"id":"6bf2b734-19bf-40d8-8ed9-704d2b7d5fef","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"675e97e8-bd0f-4d63-9567-24df53858573","name":"Product Name","value":"={{ $json.productName }}","type":"string"},{"id":"b1dcd6d8-3412-40db-bf29-67359c63d1dd","name":"Description","value":"={{ $json.description }}","type":"string"},{"id":"dda64a78-8c1f-450f-a01e-2ac920a90a6b","name":"Size","value":"={{ $json.size }}","type":"string"},{"id":"a869ecef-1e85-4efa-a9c5-42ac5c8ba980","name":"Color","value":"={{ $json.color }}","type":"string"},{"id":"d0138505-1a5c-4851-8c04-dd9d7ebbee85","name":"Price","value":"={{ $json.price }}","type":"number"},{"id":"34f3e7bd-f1b0-4310-9e9b-e8f0ef2795c1","name":"Last Checked","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,0],"id":"2fe9ee86-219b-49b8-9771-e9e7009ca44e","name":"Edit Fields1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1sQqrTqQfqORgHd2SmisJGGrGohGmGBE5BTeYDt3adls","mode":"list","cachedResultName":"product ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sQqrTqQfqORgHd2SmisJGGrGohGmGBE5BTeYDt3adls/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sQqrTqQfqORgHd2SmisJGGrGohGmGBE5BTeYDt3adls/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"product name ":"={{ $json['Product Name'] }}","description ":"={{ $json.Description }}","size":"={{ $json.Size }}","Color":"={{ $json.Color }}","Price":"={{ $json.Price }}"},"matchingColumns":[],"schema":[{"id":"product name ","displayName":"product name ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description ","displayName":"description ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"size","displayName":"size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Color","displayName":"Color","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[720,0],"id":"998e3527-8620-493f-b79c-7c283cb7a3c5","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VhTcpKoOaflq76So","name":"Google Sheets account 2"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"4fe0f39d-4f0e-4d10-b4fe-984a2d110995","name":"Schedule Trigger"}],"connections":{"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38d7a896-ec22-489c-8fee-7ae97c1bd8da","triggerCount":1,"shared":[{"createdAt":"2025-09-12T11:51:44.573Z","updatedAt":"2025-09-12T11:51:44.573Z","role":"workflow:owner","workflowId":"qta20QvGeTqiCgtA","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}