linkdin-workflow-LFnohs3xlie0oeoJ.json
{"createdAt":"2025-09-21T20:43:59.525Z","updatedAt":"2025-09-24T22:31:30.000Z","id":"LFnohs3xlie0oeoJ","name":"linkdin workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"5ce33513-8ed6-4015-960d-a7a849b775cd","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"=you are an expert LinkedIn content creator. Write a professional LinkedIn post about the impact of AI workflows and automation on modern business.\n\nUse a clear, engaging, and professional tone that resonates with business leaders and professionals.\n\nExplain the benefits: saving time, reducing errors, improving productivity, and enabling smarter decisions.\n\nAdd a motivational and forward-looking perspective on how automation will shape the future of work.\n\nKeep the length between 80–120 words. add this hashatg  \"#AI\",\n    \"#Automation\",\n    \"#Workflow\",\n    \"#FutureOfWork\",\n    \"#Innovation\",\n    \"#Productivity\",\n    \"#BusinessGrowth\",\n    \"#DigitalTransformation\",\n    \"#Technology\"\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[224,0],"id":"fa74ba14-5f93-41b5-b828-db84ab690363","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"chat_history"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[336,256],"id":"a2345d1c-cbce-4741-a97d-3019b0226b1a","name":"Simple Memory"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"=Generate an animated image related to this topic must be very profesiional {{ $json.output }} ","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[576,0],"id":"801dbf87-2dd1-40d7-b6cc-e5358f4af78c","name":"Generate an image","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"googlePalmApi":{"id":"kLT0JbVkWr355FLq","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"name":"image.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1uDk15mExexx-yNxDIFdbigslzaXa1cTV","mode":"list","cachedResultName":"image stock","cachedResultUrl":"https://drive.google.com/drive/folders/1uDk15mExexx-yNxDIFdbigslzaXa1cTV"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[800,0],"id":"fb6dc403-83b8-4288-b253-032248472ead","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"f7gqbVZgtmayktjT","name":"Google Drive account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,224],"id":"02f43a07-859e-4293-a9f9-263a5e7842dc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"8IokudigvXDO7LZM","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1gSknKg1np-BOTXOitvSBN1lNqMugb1DqLwzI0Nc0kj0","mode":"list","cachedResultName":"social media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gSknKg1np-BOTXOitvSBN1lNqMugb1DqLwzI0Nc0kj0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gSknKg1np-BOTXOitvSBN1lNqMugb1DqLwzI0Nc0kj0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"post":"={{ $('AI Agent').item.json.output }}","image Url ":"={{ $json.webViewLink }}"},"matchingColumns":[],"schema":[{"id":"post","displayName":"post","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image Url ","displayName":"image Url ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1008,0],"id":"80661b1c-d76c-4f10-9541-7ec97f83fcf3","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VhTcpKoOaflq76So","name":"Google Sheets account 2"}}},{"parameters":{"person":"qP2mmMRz7v","text":"={{ $json.post }}","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1248,0],"id":"bb876f66-d92f-4c77-bed2-868820a9a480","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"Ndf39cRN2T6dF7G6","name":"LinkedIn account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Generate an image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Append row in sheet":{"main":[[{"node":"Create a post","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"105682c3-ed30-4126-861e-24bc1e21fa0a","triggerCount":1,"shared":[{"createdAt":"2025-09-21T20:43:59.629Z","updatedAt":"2025-09-21T20:43:59.629Z","role":"workflow:owner","workflowId":"LFnohs3xlie0oeoJ","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}