my-workflow-11-pKlADrxQSISx2Dwz.json
{"createdAt":"2025-09-25T15:14:08.928Z","updatedAt":"2025-09-25T15:22:20.000Z","id":"pKlADrxQSISx2Dwz","name":"My workflow 11","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"ebd18604-d74c-47fd-8c98-134ca96d8e99","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"b07dd68b-7473-4c28-b259-bfe00f5b1d97","name":"raw_address","value":"={{ $json.raw_address }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,0],"id":"9a3ec5d5-6a51-401b-9221-d443974c80a8","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"customer_name\": \"John Smith\",\n  \"customer_email\": \"john.smith@gmail.com\",\n  \"raw_address\": {\n    \"street\": \"123 main St\",\n    \"city\": \"new York\",\n    \"state\": \"ny\",\n    \"postal_code\": \"10001\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"cd1ce72a-3e42-41d9-8f49-4c5542d2ce08","name":"Edit Fields1"},{"parameters":{"url":"https://fakestoreapi.com/products","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"ad4d9cbc-8d21-45b1-a4be-99df5aa0fa39","name":"HTTP Request"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4e18c48d-1b93-4b85-8a4a-a89356f1058d","triggerCount":0,"shared":[{"createdAt":"2025-09-25T15:14:08.956Z","updatedAt":"2025-09-25T15:14:08.956Z","role":"workflow:owner","workflowId":"pKlADrxQSISx2Dwz","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}