my-workflow-ANj7ftrLwUWQrwGr.json
{"createdAt":"2025-09-08T22:14:29.038Z","updatedAt":"2025-09-16T11:19:20.000Z","id":"ANj7ftrLwUWQrwGr","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"bd42edf1-774f-40cd-8782-c61aba04b407","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"productId\": 123,\n  \"name\": \"Classic T-Shirt\",\n  \"category\": \"Apparel\",\n  \"price\": 29.99,\n  \"inStock\":true\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"5287c8c1-319d-4526-bc74-f18d2215cbdd","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=CREATE A IMAGE FOR THAT PRODUCT  {{ $json.name }}  AND GIVE ME THE URL TO DISPLAY IT I","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[416,0],"id":"8310480c-25e9-4167-a8a1-69f70e1a9537","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[288,208],"id":"eebdc583-35cc-4d45-a0e7-f5b8119a23f2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"R8e5L0zEhRtPYxiE","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"=","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,0],"id":"dadcc883-cfdb-4bc0-b08e-739199214d89","name":"HTTP Request"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"781baa24-1f12-4c04-808c-482949805667","triggerCount":0,"shared":[{"createdAt":"2025-09-08T22:14:29.094Z","updatedAt":"2025-09-08T22:14:29.094Z","role":"workflow:owner","workflowId":"ANj7ftrLwUWQrwGr","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}