my-workflow-7-RXe8hXUffQohaIAx.json
{"createdAt":"2025-09-15T17:04:17.344Z","updatedAt":"2025-09-16T13:38:34.000Z","id":"RXe8hXUffQohaIAx","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-768,32],"id":"504f7b1c-4ccb-4a4b-9d43-79f3b9898be8","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://fakestoreapi.com/products","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,32],"id":"9a9214ca-930d-42a4-b896-73218e5b20eb","name":"Fetch Products from API"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-336,32],"id":"d8f03bd6-21ed-431e-843f-a8a5a5230804","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"0f353683-5939-4d14-8b7b-6581e0e1cf1b","name":"ProductURL","value":"=https://fakestoreapi.com/products/{{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,48],"id":"d7a8f1d5-181e-43f6-85da-65fb313037e7","name":"Add Product URL","alwaysOutputData":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,-80],"id":"0b9e8504-5661-49e0-a081-36894e2f94ce","name":"Aggregate All Products1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,48],"id":"84502d24-95e7-4f98-b4b9-564ccfee6fbf","name":"Wait","webhookId":"807bb24f-abf5-455e-aeda-81a2dd946efd"},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,-80],"id":"ca6030e4-7c6b-4563-9c2b-0668ea4e0fb3","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"f6bc8526-1e9c-4896-a6aa-ffdbfe6e4e0e","name":"id","value":"={{ $json.data.id }}","type":"string"},{"id":"2ee2b55e-645d-46f3-90ce-c137dc0dbce3","name":"NameProduct","value":"={{ $json.data.title }}","type":"string"},{"id":"230cf60e-55b2-43dc-b804-b434780053b4","name":"price","value":"={{ $json.data.price }}","type":"string"},{"id":"833ffda0-2655-4823-ad4d-9252a00ff97e","name":"description ","value":"={{ $json.data.description }}","type":"string"},{"id":"1ab9089a-f65a-4ba5-b27e-7daf8cfb381b","name":"category","value":"={{ $json.data.category }}","type":"string"},{"id":"45e8ff97-feb6-4b90-8dbf-2d114e639e02","name":"imageUrl","value":"={{ $json.data.image }}","type":"string"},{"id":"2ab4555f-3444-43cb-9f6b-04a779affe99","name":"rate","value":"={{ $json.data.rating }}","type":"string"},{"id":"780ad0a2-b722-4392-adef-5e9fae23935f","name":"productUrl","value":"={{ $json.data.ProductURL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-80],"id":"e8f0dc18-fce9-488f-83dc-0dcd5a176725","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"You are a marketing expert. Rewrite the following product description to\nbe more exciting and appealing to a young audience:","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[784,-80],"id":"3741067b-7678-4d66-a9a2-c98b6cb7f283","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[656,128],"id":"761db362-e20f-4c5d-8cfd-35f759cb7ead","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"R8e5L0zEhRtPYxiE","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Fetch Products from API","type":"main","index":0}]]},"Fetch Products from API":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate All Products1","type":"main","index":0}],[{"node":"Add Product URL","type":"main","index":0}]]},"Add Product URL":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate All Products1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0cbe91e4-875b-4df9-9e14-f07a18735e8d","triggerCount":0,"shared":[{"createdAt":"2025-09-15T17:04:17.370Z","updatedAt":"2025-09-15T17:04:17.370Z","role":"workflow:owner","workflowId":"RXe8hXUffQohaIAx","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}