my-workflow-8-2H32DsazmlmZiBLX.json
{"createdAt":"2025-09-16T13:39:01.285Z","updatedAt":"2025-09-16T15:11:07.000Z","id":"2H32DsazmlmZiBLX","name":"My workflow 8","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"f29c9ca8-6c8c-466f-9f91-93228f68e1ed","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"cd4929f6-098f-4c72-9498-3f44e60ff886","name":"DESCRIPTION","value":"Red cotton t-shirt,gdgdggd","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"2bfd53b8-b00b-4afd-93ec-95d862b7cf2b","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Rewrite the following product description to make it more luxury, fun, and appealing to a young audience. Use casual and energetic language, keep sentences short and engaging, and highlight the product’s coolest features. Add a playful tone with words that resonate with youth culture like vibes, next level, or must have. Do not use any special characters, symbols, or emojis. Keep the description under 100 words. Here is the product description:{{ $json[\"description \"] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[608,0],"id":"5468c4f9-a060-49ea-88f8-ce5f21a72ee4","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,208],"id":"a93559cd-4899-47a8-beab-62315f0f8b54","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"R8e5L0zEhRtPYxiE","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9de84f7b-36ca-4bda-85e7-3892a539596c","name":"description","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,0],"id":"9f4abb9d-f387-48b7-a07f-d8fbdf1f5d7d","name":"Edit Fields1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f21313d-4d7a-48df-bb2d-565f64ff2cc4","triggerCount":0,"shared":[{"createdAt":"2025-09-16T13:39:01.295Z","updatedAt":"2025-09-16T13:39:01.295Z","role":"workflow:owner","workflowId":"2H32DsazmlmZiBLX","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}