my-workflow-5-nD7uTbyTofMabKOv.json
{"createdAt":"2025-09-12T23:11:00.192Z","updatedAt":"2025-09-12T23:11:00.192Z","id":"nD7uTbyTofMabKOv","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1zr2UIvorwsH4UpJ9_xzDAV29ZDXPZAFEPkElMtPBcUE","mode":"list","cachedResultName":"ATS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zr2UIvorwsH4UpJ9_xzDAV29ZDXPZAFEPkElMtPBcUE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zr2UIvorwsH4UpJ9_xzDAV29ZDXPZAFEPkElMtPBcUE/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-144,-96],"id":"c082b4dd-c8b1-440d-a339-306dca1518df","name":"Google Sheets Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"4bfb1b11-bfea-48ef-bb71-4e47925d230c","name":"Resume URL","value":"={{ $json['Resume URL'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-96],"id":"e3fa6cd3-d53c-48d3-bd01-70042c93f800","name":"Edit Fields"},{"parameters":{"url":"={{ $json['Resume URL'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,-96],"id":"08dd1d55-a0e3-484d-b227-a2e59fd9a14a","name":"HTTP Request"},{"parameters":{"jsCode":"const items = $input.all();\nconst updatedItems = items.map((item) => {\n  let url = item?.json?.data;\n  if (url.includes(\"https://drive.google.com/file/d/\")) {\n    let id = url.split(\"/d/\")[1].split(\"/\")[0];\n    url = `https://drive.google.com/uc?export=download&id=${id}`;\n  }\n  item.json.data = url;\n  return item;\n});\nreturn updatedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-96],"id":"d1266bd6-658a-4943-be0d-60022fcf4c93","name":"Code"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ad475e26-b8ed-4276-91bd-fae1f958d5d5","triggerCount":0,"shared":[{"createdAt":"2025-09-12T23:11:00.296Z","updatedAt":"2025-09-12T23:11:00.296Z","role":"workflow:owner","workflowId":"nD7uTbyTofMabKOv","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}