my-workflow-9-zjVjQ0rRFb8m69Z5.json
{"createdAt":"2025-09-17T09:12:07.848Z","updatedAt":"2025-09-17T11:23:14.000Z","id":"zjVjQ0rRFb8m69Z5","name":"My workflow 9","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://news.google.com/rss/search?q=AI+tools+for+e-commerce&hl=en-US&gl=US&ceid=US:en","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,80],"id":"09b6b0de-269e-41de-a983-9d21b10b5b93","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[592,80],"id":"6c13ebfa-346f-4c38-93f8-21282be6fdf6","name":"XML"},{"parameters":{"assignments":{"assignments":[{"id":"8160f732-cbe7-42b7-aa92-b9e3b294e475","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"4aa5de87-a36c-489c-9b39-15c990986ce3","name":"link","value":"={{ $json.link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,-16],"id":"a42fe600-0be2-459e-b6b2-a61cab5c4967","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=You are a LinkedIn thought leader and B2B marketing expert specializing in eCommerce, technology, and digital strategy. Your writing is insightful, concise, and designed to spark professional discussion.\nYour primary task is to analyze the content of the article provided via the link and create a complete, professional, and engaging LinkedIn post.\nInput You Will Receive:\n•\tArticle Title: {{ $json.title }}\nYou must analyze the content at the Article Link and generate a post that follows this exact structure and rules:\n\nBlueprint for the Post Generation\n1. Headline Generation:\n•\tBased on the article's core message, create a concise and impactful headline suitable for a professional audience.\n•\tThe headline should capture the main theme or the most compelling finding of the article.\n•\tPrefix the generated headline with a single, relevant emoji (e.g., 🚀, 📊, 🌍).\n2. Post Body Generation:\n•\tStructure: The body must follow this exact three-sentence structure, with each sentence on a new line, followed by an engaging question.\n•\tSentence 1 (The Hook): Extract the most powerful statistic, key finding, or core problem from the article to grab the reader's attention.\n•\tSentence 2 (The Implication): Explain the strategic importance or business consequence of that finding, as discussed in the article.\n•\tSentence 3 (The Best Practice): Summarize the solution, future trend, or best practice recommended in the article.\n•\tThe Question: Formulate a direct, open-ended question related to the topic to encourage comments and professional discussion.\n3. Hashtag Generation:\n•\tGenerate a single line with exactly 5 relevant, professional hashtags derived from the article's main themes and keywords.\n\nIMPORTANT RULES:\n•\tAdhere STRICTLY to the three-part output structure: Headline, Post Body, and Hashtags.\n•\tThe primary source of information for your writing MUST be the content from the provided Article Link. Do not invent information.\n•\tKeep the post body text concise and highly scannable.\n•\tThe tone must be professional, insightful, and forward-thinking.\n•\tDo not add any extra commentary, greetings, or explanations outside of the requested post structure.\n\nExample of a Perfect Output (If the input article was about Cart Abandonment):\n\n💳 Cart Abandonment: Turning a $18B Challenge Into Opportunity\n\nWith nearly 70% of carts abandoned globally, optimizing the checkout experience is no longer optional—it’s essential.\nSolutions such as streamlined checkout flows, transparent pricing, and flexible payment options have proven to significantly reduce drop-offs.\nOrganizations that prioritize this area stand to recover substantial revenue.\n\nWhat proven tactics has your team implemented to address cart abandonment?\n\n#eCommerce #RetailTech #CustomerJourney #CheckoutOptimization #DigitalBusiness","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1760,-32],"id":"65fddaa1-02e7-4300-9c97-510e7f81cd04","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1680,128],"id":"685bc7d8-c2bc-4ad2-bef7-07310cb28903","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"R8e5L0zEhRtPYxiE","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xZGumbnSWNmKKg_6B43If0QgCWftsyhyaNOZv3EObeU/edit","mode":"url"},"sheetName":{"__rl":true,"value":1795913183,"mode":"list","cachedResultName":"Group Project","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xZGumbnSWNmKKg_6B43If0QgCWftsyhyaNOZv3EObeU/edit#gid=1795913183"},"columns":{"mappingMode":"defineBelow","value":{"Post Content":"={{ $('AI Agent').item.json.output }}"},"matchingColumns":[],"schema":[{"id":"Post Content","displayName":"Post Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image Url","displayName":"Image Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1568,-288],"id":"39b8230d-ae51-4cfd-9478-45c436816788","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"w5RZJel98sjLLyF2","name":"Google Sheets account 3"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,-48],"id":"ff233a14-3d64-4edd-a7d4-94cb369e2fcd","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"rss.channel.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[800,80],"id":"c5e5690e-4c5f-48a5-a9d0-76c2f860ebb4","name":"Split Out"},{"parameters":{"authentication":"communityManagement","postAs":"organization","organization":"66603918","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1824,-288],"id":"c75b290f-dbc6-4a2e-a417-164c75e8d061","name":"Create a post","credentials":{"linkedInCommunityManagementOAuth2Api":{"id":"qxGUxNu7EZryspnX","name":"LinkedIn account 4"}}},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1008,80],"id":"11a91ffc-cdc6-486c-af70-9158416a81b3","name":"Limit"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[144,64],"id":"c9e6bdf3-31bd-41ed-8fd7-29e83712e998","name":"Schedule Trigger"}],"connections":{"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c581a0f3-17ae-4355-a113-bf0d6f4348ee","triggerCount":0,"shared":[{"createdAt":"2025-09-17T09:12:07.912Z","updatedAt":"2025-09-17T09:12:07.912Z","role":"workflow:owner","workflowId":"zjVjQ0rRFb8m69Z5","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}