my-workflow-3-Bbr81fayBYxSTSd2.json
{"createdAt":"2025-09-11T11:28:40.132Z","updatedAt":"2025-09-16T11:50:23.000Z","id":"Bbr81fayBYxSTSd2","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"5d3c45fc-6d5b-41cb-a849-305a14fa5642","name":"Schedule Trigger"},{"parameters":{"url":"https://fakestoreapi.com/products","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"9b26dc4e-0efc-48cb-8ae3-a06dcb2645e3","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"2d188912-cdf1-4120-8cbc-31df8ba78719","name":"ID","value":"={{ $json.id }}","type":"string"},{"id":"dff259f8-a6e8-4f8d-ac32-762f595588f6","name":"PRODUCT NAME","value":"={{ $json.title }}","type":"string"},{"id":"6709fb7f-07d1-4c22-8a0e-763dfe6e904f","name":"PRICE","value":"={{ $json.price }}","type":"string"},{"id":"ee9da2ef-07be-4693-9ce3-279e62f92a0f","name":"CATEGORY","value":"={{ $json.category }}","type":"string"},{"id":"989ec551-0b15-4326-ba5e-74dc2702c744","name":"IMAGEURL","value":"={{ $json.image }}","type":"string"},{"id":"f305b7a0-9e02-4502-a0e6-cf6fbf79a4a3","name":"RATING","value":"={{ $json.rating }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"3fe62ec6-0657-4cae-886d-6e97357cfa3b","name":"Edit Fields"},{"parameters":{"promptType":"define","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[624,0],"id":"9406877d-86af-46dc-ab48-ada7d7720d02","name":"AI Agent"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07095ea9-2e7d-42ed-bf49-0730b2fb45ab","triggerCount":0,"shared":[{"createdAt":"2025-09-11T11:28:40.140Z","updatedAt":"2025-09-11T11:28:40.140Z","role":"workflow:owner","workflowId":"Bbr81fayBYxSTSd2","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}