parent-K8YS1G3R8f68d01s.json
{"createdAt":"2025-09-25T11:09:53.309Z","updatedAt":"2025-09-25T15:13:26.000Z","id":"K8YS1G3R8f68d01s","name":"PARENT","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0f7fef36-d07e-405a-ae6a-d66c426e3b40","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"4YUVmlwx7y61OMrC","mode":"list","cachedResultName":"CHILD"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,0],"id":"f298fee2-a2f7-47ae-9a3f-4c8bf817b5c0","name":"Call 'CHILD'"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"customer_name\": \"John Smith\",\n  \"customer_email\": \"john.smith@gmail.com\",\n  \"raw_address\": {\n    \"street\": \"123 main St\",\n    \"city\": \"new York\",\n    \"state\": \"ny\",\n    \"postal_code\": \"10001\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"699a1e9c-7035-4ac6-a5b5-2479732357a3","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"32b6a0e3-5656-4721-b682-f066961e1329","name":"customer_name","value":"={{ $json.customer_name }}","type":"string"},{"id":"186278ae-6e26-4f84-adb5-7cb58726bf71","name":"standardized_address","value":"={{ $json.standardized_address }}","type":"object"},{"id":"6d975a0a-6eca-4210-9f78-cbb1df21a195","name":"customer_email","value":"={{ $json.customer_email }}","type":"string"},{"id":"30215a20-6bde-43bd-a901-e3308f6869c2","name":"standardized_address.postal_code","value":"={{ $json.standardized_address.postal_code }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,0],"id":"06fd0084-8b64-4e79-a129-596d78136a3b","name":"Edit Fields1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1zPdbGpqmjwX81xOlTyvVcBBWxgsX3FXg_Emz8xJfbVA","mode":"list","cachedResultName":"standardize address","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zPdbGpqmjwX81xOlTyvVcBBWxgsX3FXg_Emz8xJfbVA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zPdbGpqmjwX81xOlTyvVcBBWxgsX3FXg_Emz8xJfbVA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"customer name":"={{ $json.customer_name }}","customer email":"={{ $json.customer_email }}","standardized_address":"={{ $json.standardized_address }}"},"matchingColumns":[],"schema":[{"id":"customer name","displayName":"customer name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"customer email","displayName":"customer email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standardized_address","displayName":"standardized_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,0],"id":"d7b83f6a-3dae-44d6-af7c-e09bfd7fe22a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VhTcpKoOaflq76So","name":"Google Sheets account 2"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[176,176],"id":"4a8e6f40-831d-4ca1-ac2c-c38cf9d7f52f","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Get input data from the workflow trigger\nconst inputData = $input.all()[0].json;\n\n// Helper function to capitalize words\nfunction capitalizeWords(str) {\n  if (!str) return '';\n  return str.toLowerCase()\n    .split(' ')\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1))\n    .join(' ')\n    .trim();\n}\n\n// Standardize the address safely\nconst raw = inputData.raw_address || {};\n\nconst cleanAddress = {\n  street: capitalizeWords(raw.street),\n  city: capitalizeWords(raw.city),\n  state: raw.state ? raw.state.toUpperCase() : '',\n  postal_code: raw.postal_code || ''\n};\n\n// Return the standardized output\nreturn [{\n  json: {\n    standardized_address: cleanAddress,\n    customer_name: inputData.customer_name || '',\n    customer_email: inputData.customer_email || ''\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,176],"id":"9e0b179c-cd2d-4901-8975-d3b0eb9369aa","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-67.5],"id":"b267e214-9681-4866-ad77-c727b9c53f92","name":"Edit Fields2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Call 'CHILD'","type":"main","index":0}]]},"Call 'CHILD'":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae745c37-19b3-4e4f-968a-2da5602a4f0e","triggerCount":0,"shared":[{"createdAt":"2025-09-25T11:09:53.317Z","updatedAt":"2025-09-25T11:09:53.317Z","role":"workflow:owner","workflowId":"K8YS1G3R8f68d01s","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}