product-catalog-collector-95zzIwRpUTEMfsHc.json
{"createdAt":"2025-09-10T08:50:20.686Z","updatedAt":"2025-09-10T16:47:06.000Z","id":"95zzIwRpUTEMfsHc","name":"product catalog collector","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"53ef0020-6ae1-4a42-a0f0-e1a2be1b68b8","name":"Schedule Trigger"},{"parameters":{"url":"https://fakestoreapi.com/products","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,0],"id":"302c4151-7375-44c1-9d44-6433a7c279cd","name":"HTTP Request"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"productName\": \"Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops\",\n  \"price\": 109.95,\n\"description\":\"Your slave perfect pack for everyday use and walks in the forest . Stash your laptop (up to 15 inches) in the padded sleeve, your everyday\",\n\"imageUrl\":\"https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png\"\n\n}\n ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,0],"id":"47dcffff-f7ec-4f68-8c9d-e659c649e5da","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"b1e6ebc9-3f87-404f-b283-2093b7c43f4f","name":"redflags","value":"[\"slave\", \"master\", \"whitelist\", \"blacklist\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"6c69e837-f705-43d4-8e0c-723254a41863","name":"define red flags"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6544de25-261a-4dfe-8f21-3ab74bd8ea65","leftValue":"={{ $json.description }}","rightValue":"={{ $('define red flags').item.json.redflags[0] }}","operator":{"type":"string","operation":"contains"}},{"id":"37774844-9cfe-4f57-9fe9-cdf97d908a27","leftValue":"={{ $json.description }}","rightValue":"={{ $('define red flags').item.json.redflags[1] }}","operator":{"type":"string","operation":"contains"}},{"id":"80355e7f-c15f-4aef-a66e-69a21c422492","leftValue":"={{ $json.description }}","rightValue":"={{ $('define red flags').item.json.redflags[2] }}","operator":{"type":"string","operation":"contains"}},{"id":"ea26a7a7-59a9-4460-a573-5e4153c139aa","leftValue":"={{ $json.description }}","rightValue":"={{ $('define red flags').item.json.redflags[3] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,0],"id":"d4ba071d-c1ff-45d7-a40f-1cff8b5a42b1","name":"If","alwaysOutputData":false},{"parameters":{"authentication":"webhook","content":"=Needs Review: Product \"\" contains flagged language.\nDescription:","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1456,-96],"id":"f1e5904c-20d4-4dd8-b16c-168cffbe82f2","name":"Discord","webhookId":"78b9d70e-7354-47cf-99af-c4d6c6a58396","credentials":{"discordWebhookApi":{"id":"0j4qA1Wo0Ni9fgV8","name":"Discord Webhook account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"162SD-7et2h8Q4CgZs3b5Xe4JbnlaJ4K-ACC6LcV1Mkw","mode":"list","cachedResultName":"product catalog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/162SD-7et2h8Q4CgZs3b5Xe4JbnlaJ4K-ACC6LcV1Mkw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/162SD-7et2h8Q4CgZs3b5Xe4JbnlaJ4K-ACC6LcV1Mkw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"product name":"={{ $json.productName }}","price":"={{ $json.price }}","description ":"={{ $json.description }}","imageUrl ":"={{ $json.imageUrl }}"},"matchingColumns":["product name"],"schema":[{"id":"product name","displayName":"product name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description ","displayName":"description ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imageUrl ","displayName":"imageUrl ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1456,96],"id":"cbb77f1d-101f-4206-8f68-bcafd14764d9","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"HOwT5dZW9gp5DWOh","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"define red flags","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"define red flags":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Discord","type":"main","index":0}],[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8cb7c6dc-34f6-4823-86ba-e24e3f409c5b","triggerCount":1,"shared":[{"createdAt":"2025-09-10T08:50:20.695Z","updatedAt":"2025-09-10T08:50:20.695Z","role":"workflow:owner","workflowId":"95zzIwRpUTEMfsHc","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}