product-catalog-2-nQ94psRBQNgjSSc5.json
{"createdAt":"2025-09-10T23:56:49.820Z","updatedAt":"2025-09-11T11:27:37.000Z","id":"nQ94psRBQNgjSSc5","name":"product catalog 2","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://fakestoreapi.com/products","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,144],"id":"7ce8514e-a600-4668-a145-15eb619bce8d","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"6acae761-bde6-4ce3-bef2-7a004cd3e834","name":"ProductName","value":"={{ $json.title }}","type":"string"},{"id":"60411be2-a0f1-41bb-8cce-3ee6c4f710e7","name":"Price","value":"={{ $json.price }}","type":"string"},{"id":"4583661b-12ed-4eeb-9549-654ca1a212dd","name":"Description","value":"=SLAVE","type":"string"},{"id":"33947669-04ac-4509-b810-ae34307b8b81","name":"ImageUrl","value":"={{ $json.image }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,144],"id":"2ef380f6-1e25-4357-8751-ca44a649e1c3","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"bf186182-3433-4593-975a-58f87defcf8b","name":"redFlags","value":"=[\"slave\", \"master\", \"whitelist\", \"blacklist\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,144],"id":"06b7c3a0-b0c4-402a-b247-8443381b9ee8","name":"Define Red Flags"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8839b648-0ac3-47c9-a9a9-310415153cea","leftValue":"={{ $json.Description }}","rightValue":"={{ $('Define Red Flags').item.json.redFlags[0] }}","operator":{"type":"string","operation":"contains"}},{"id":"e683081c-314f-4171-8634-e6c6b1b954af","leftValue":"={{ $json.Description }}","rightValue":"={{ $('Define Red Flags').item.json.redFlags[1] }}","operator":{"type":"string","operation":"contains"}},{"id":"5d6a0901-1f53-4808-a754-57f639f406ce","leftValue":"={{ $json.Description }}","rightValue":"={{ $('Define Red Flags').item.json.redFlags[2] }}","operator":{"type":"string","operation":"contains"}},{"id":"5325aa1c-f951-4ce9-a308-6581edfd5576","leftValue":"={{ $json.Description }}","rightValue":"={{ $('Define Red Flags').item.json.redFlags[3] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-576,144],"id":"fcccab8f-5db0-4270-a7f6-a4e98fb11ff2","name":"If"},{"parameters":{"authentication":"webhook","content":"=Needs Review: Product \"{{ $json.productName }}\" contains flagged Language.\nDescription:{{ $json.DESCRIPTION }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-368,32],"id":"3eb2402a-bce0-4e54-b0df-d7cbd3c1fcd0","name":"Discord","webhookId":"dcf3f861-c589-4413-b3a8-fbb93a7cd0c1","credentials":{"discordWebhookApi":{"id":"0j4qA1Wo0Ni9fgV8","name":"Discord Webhook account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"162SD-7et2h8Q4CgZs3b5Xe4JbnlaJ4K-ACC6LcV1Mkw","mode":"list","cachedResultName":"product catalog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/162SD-7et2h8Q4CgZs3b5Xe4JbnlaJ4K-ACC6LcV1Mkw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/162SD-7et2h8Q4CgZs3b5Xe4JbnlaJ4K-ACC6LcV1Mkw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"product name":"={{ $json.ProductName }}","price":"={{ $json.Price }}","description ":"={{ $json.Description }}","imageUrl ":"={{ $json.ImageUrl }}"},"matchingColumns":[],"schema":[{"id":"product name","displayName":"product name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description ","displayName":"description ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imageUrl ","displayName":"imageUrl ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-368,272],"id":"8428fc3b-4017-45b1-92d6-3d078d3871aa","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"w5RZJel98sjLLyF2","name":"Google Sheets account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"c05e50b9-2541-4ae6-a67d-bcb0df7ca21b","name":"productName","value":"backpack","type":"string"},{"id":"dfbd1cef-c9e9-4544-b730-b4b03ff457b0","name":"Price","value":"123","type":"string"},{"id":"4b387ab4-cd90-41c2-899b-77c35dfaf000","name":"DESCRIPTION","value":"SLAVE","type":"string"},{"id":"6006d965-45a4-4e93-8681-1bb542605689","name":"imageUrl","value":"https://cameotransdemenagement.com/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1024,-192],"id":"75bf4c52-c308-47d7-92e6-b2b336e152ab","name":"Edit Fields1"},{"parameters":{"jsCode":"// Code node: regex + red-flag detection\nconst inputs = $input.all(); // all incoming items\nconst outputs = [];\n\nconst patterns = {\n  email: /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g,\n  phone: /(\\+?\\d{1,3})?[\\s.\\-]?\\(?\\d{2,3}\\)?[\\s.\\-]?\\d{3,4}[\\s.\\-]?\\d{3,4}/g,\n  credit_card: /\\b(?:\\d[ -]*?){13,16}\\b/g,\n  profanity: /\\b(fuck|shit|bitch|asshole|motherfucker)\\b/gi\n};\n\nconst redWords = [\"master\",\"slave\",\"whitelist\",\"blacklist\",\"illegal immigrant\",\"crazy\",\"insane\"];\n\nfor (const item of inputs) {\n  const text = (item.json.description || \"\").toString();\n  const regex_hits = {};\n  for (const k of Object.keys(patterns)) {\n    const m = text.match(patterns[k]) || [];\n    if (m.length) regex_hits[k] = Array.from(new Set(m));\n  }\n  const red_flags = redWords.filter(w => new RegExp(`\\\\b${w}\\\\b`, \"i\").test(text));\n  outputs.push({ json: { ...item.json, flags: { regex_hits, red_flags } } });\n}\nreturn outputs;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,464],"id":"6b5378f5-2995-43cf-9617-3d167b77d82f","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1488,144],"id":"fa37cceb-7316-474b-b931-9513f014c8cf","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/moderations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendQuery":true,"specifyQuery":"json","sendHeaders":true,"specifyHeaders":"json","sendBody":true,"contentType":"raw","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-304,464],"id":"958e1c6c-47d8-420c-8280-b3d15c70e220","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"bb5XcWvznsblo3Il","name":"Bearer Auth account"},"openAiApi":{"id":"sOMwzQuWPcSn55au","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,384],"id":"52ad4416-990c-4ea1-a044-d3d0b3c63689","name":"Code in JavaScript1"}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Define Red Flags":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"If":{"main":[[{"node":"Discord","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Define Red Flags","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0f838020-4396-4f91-9640-3688b84821a0","triggerCount":1,"shared":[{"createdAt":"2025-09-10T23:56:49.886Z","updatedAt":"2025-09-10T23:56:49.886Z","role":"workflow:owner","workflowId":"nQ94psRBQNgjSSc5","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}