project-day-12-cthXlRCG3Q4mEsB2.json
{"createdAt":"2025-10-03T14:20:52.308Z","updatedAt":"2025-10-06T01:38:39.000Z","id":"cthXlRCG3Q4mEsB2","name":"project day 12","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-288,320],"id":"915520ff-65af-466a-9872-37f92ec66f83","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"kLT0JbVkWr355FLq","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.query['message '] }}","options":{"systemMessage":"You are an AI Support Assistant for a company. You're chatting with a customer via Telegram.\n\n🎯 Your only capability: \nCreate new events (support calls, meetings, or bookings).\n\n---\n\n📅 Rules for Creating a New Event:\n\n1. Always use **check_bookings** first to see if the user already has a scheduled call.\n   - If yes, politely inform them and DO NOT create a duplicate.\n\n2. If no existing booking:\n   - Use **get_calendar_slots** to find available time slots.\n   - Show the FIRST available slot to the user.\n\n3. Ask for confirmation before creating the event.\n\n4. Once confirmed:\n   - Use **create_calendar_event** to add the event to Google Calendar.\n   - Then call **log_booking** (Google Sheets) to record it.\n\n---\n\n💬 Communication Guidelines:\n- Be friendly, concise, and professional.\n- Use emojis occasionally (🙂, 📅, 👍).\n- Always confirm actions before creating an event.\n- If user is vague, ask questions like:\n  > “When would you like to schedule your call?”\n  > “Morning or afternoon works better for you?”\n\n---\n\n👤 Current User Context:\n- Telegram ID: will be provided in context\n- Name: will be provided in context\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[160,16],"id":"ad47b0cc-219f-4d50-acb1-4e442c47df38","name":"ai agent","executeOnce":false,"alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"12pb6ddtjZPtfIl72EKYmEaRGJ9uB7t5-8-3riitUcFM","mode":"list","cachedResultName":"event database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12pb6ddtjZPtfIl72EKYmEaRGJ9uB7t5-8-3riitUcFM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12pb6ddtjZPtfIl72EKYmEaRGJ9uB7t5-8-3riitUcFM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"booking_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', ``, 'string') }}","user_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_id', ``, 'string') }}","user_message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_message', ``, 'string') }}","slot_datetime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('slot_datetime', ``, 'string') }}","calendar_event_id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calendar_event_id', ``, 'string') }}","booking_status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_status', ``, 'string') }}","created_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('created_at', ``, 'string') }}","updated_at":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('updated_at', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"booking_id","displayName":"booking_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_message","displayName":"user_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"slot_datetime","displayName":"slot_datetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"calendar_event_id","displayName":"calendar_event_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"booking_status","displayName":"booking_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[944,384],"id":"88c6fcc3-77f4-4377-bf18-2897d99853b4","name":"Append row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"VhTcpKoOaflq76So","name":"Google Sheets account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"33fa8d7b-e4fe-4caa-a551-ce36a519f8e4","name":"MESSAGE","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,16],"id":"5956dbe0-2e6c-41c7-a9f7-1c67f7fd63f5","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"b7c27bd0-7e87-4ced-9c7e-9980a786980b","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-688,16],"id":"65010078-eab2-4834-b83a-dff70907ff14","name":"Webhook","webhookId":"b7c27bd0-7e87-4ced-9c7e-9980a786980b"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[928,0],"id":"149ce5b2-3790-4c44-8a28-b341ed3b568a","name":"Respond to Webhook"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"ayoubhabibeddine@gmail.com","mode":"list","cachedResultName":"ayoubhabibeddine@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[688,384],"id":"90d1f939-c366-4883-a67e-30fddea51bcf","name":"Get availability in a calendar in Google Calendar4","credentials":{"googleCalendarOAuth2Api":{"id":"jeXhB1pEN32bSlRP","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ayoubhabibeddine@gmail.com","mode":"list","cachedResultName":"ayoubhabibeddine@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[0,368],"id":"280e3b8a-c27c-445c-9db9-26e8eed19680","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"jeXhB1pEN32bSlRP","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[320,368],"id":"1db30d47-e9b6-49d1-b3d2-7b849b7d91a7","name":"Delete an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"jeXhB1pEN32bSlRP","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ayoubhabibeddine@gmail.com","mode":"list","cachedResultName":"ayoubhabibeddine@gmail.com"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[160,384],"id":"518fab1d-8e12-49b7-b2a8-d035017a689c","name":"Get many events in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"jeXhB1pEN32bSlRP","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"ayoubhabibeddine@gmail.com","mode":"list","cachedResultName":"ayoubhabibeddine@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[496,368],"id":"1cd31427-422a-4a80-a92a-f098c010aa5b","name":"Update an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"jeXhB1pEN32bSlRP","name":"Google Calendar account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"ai agent","type":"ai_languageModel","index":0}]]},"ai agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Append row in sheet in Google Sheets":{"ai_tool":[[{"node":"ai agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"ai agent","type":"main","index":0}]]},"Get availability in a calendar in Google Calendar4":{"ai_tool":[[{"node":"ai agent","type":"ai_tool","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"ai agent","type":"ai_tool","index":0}]]},"Delete an event in Google Calendar":{"ai_tool":[[{"node":"ai agent","type":"ai_tool","index":0}]]},"Get many events in Google Calendar":{"ai_tool":[[{"node":"ai agent","type":"ai_tool","index":0}]]},"Update an event in Google Calendar":{"ai_tool":[[{"node":"ai agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"98eb4627-90b1-48c3-9571-bf5cece2b8a5","triggerCount":0,"shared":[{"createdAt":"2025-10-03T14:20:52.329Z","updatedAt":"2025-10-03T14:20:52.329Z","role":"workflow:owner","workflowId":"cthXlRCG3Q4mEsB2","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}