stock-inventory-nlAu0i0rqFsbIX82.json
{"createdAt":"2025-09-23T14:53:08.587Z","updatedAt":"2025-09-25T09:25:30.000Z","id":"nlAu0i0rqFsbIX82","name":"stock inventory","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"5ff3a6e5-71d9-4fea-9415-4717c95622d0","name":"Schedule Trigger"},{"parameters":{"url":"https://fakestoreapi.com/products","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"acf3adda-ecc0-46c0-8c3c-fb38bf0c727e","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,-112],"id":"67ee754c-fdbb-4e58-a9c5-230483f613a2","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"82b9e21a-34e2-4421-968e-e0889c908f6b","leftValue":"={{ $('Merge').item.json.stockLevel }}","rightValue":"={{ $('Merge').item.json.rating.count }}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,-112],"id":"fd417c5c-d002-40f4-b18d-086964f88f04","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs","mode":"list","cachedResultName":"warehouse inven","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[176,-192],"id":"909ba7e3-b70b-4873-a944-f68ba7a50491","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"VhTcpKoOaflq76So","name":"Google Sheets account 2"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[416,-80],"id":"38075e61-3c1c-4a18-801e-864e356230ee","name":"Merge"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs","mode":"list","cachedResultName":"warehouse inven","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"stockLevel":"={{ $json.rating.count }}","productId":"={{ $json.id }}"},"matchingColumns":["productId"],"schema":[{"id":"productId","displayName":"productId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stockLevel","displayName":"stockLevel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,-128],"id":"0a94d823-4a98-4a32-b946-419e27621aba","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VhTcpKoOaflq76So","name":"Google Sheets account 2"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs","mode":"list","cachedResultName":"warehouse inven","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs/edit#gid=0"},"event":"rowUpdate","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[192,240],"id":"285b400a-61df-43a6-8c11-f086283d800e","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"nnkZVLvckJtn36cC","name":"Google Sheets Trigger account"}}},{"parameters":{"method":"PATCH","url":"=https://fakestoreapi.com/products/{{ $json.productId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"rating\": {\n    \"count\": \"={{ $json['stockLevel'] }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,240],"id":"6f78a130-8bb9-435f-a3b6-e75dc546aaea","name":"HTTP Request1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs","sheetId":0,"lastRevision":233,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1sRC5Eww6hps1vgn13lGlx20LZCiAtyBywg093wAYUMs&revision=233&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"21a48c2b-361a-4d98-a06c-5222bb23a2cb","triggerCount":2,"shared":[{"createdAt":"2025-09-23T14:53:08.602Z","updatedAt":"2025-09-23T14:53:08.602Z","role":"workflow:owner","workflowId":"nlAu0i0rqFsbIX82","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}