whatsapp-project-zakaria-vEXFyOC5spbpi6De.json
{"createdAt":"2025-09-29T17:17:32.353Z","updatedAt":"2025-10-02T10:25:52.000Z","id":"vEXFyOC5spbpi6De","name":"whatsapp project zakaria","active":false,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"=memory_{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"},"id":"6c52df7a-4d45-478d-acbe-94006c6af7f4","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-1472,736],"typeVersion":1.3},{"parameters":{"updates":["messages"],"options":{}},"id":"c546cbba-cc58-4139-92c4-03f55802fd3d","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[-3712,496],"webhookId":"ab09ca3e-53b2-4079-9ddc-bccb2f69551b","typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"48af2dcc-4ce9-45fc-abfc-54f803930092","name":"text","type":"string","value":"=User image description: {{ $json.content }}\n\nUser image caption: {{ $('Route Types').item.json.messages[0].image.caption }}"}]},"options":{}},"id":"0df524cf-a0fb-4c9c-9cf0-2350299cf3d8","name":"Map image prompt","type":"n8n-nodes-base.set","position":[-2080,720],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"38aec976-a32c-4b0e-85f4-c90adc16abc9","name":"text","type":"string","value":"={{ $json.messages[0].text.body }}"}]},"options":{}},"id":"96fcd979-7f72-4b40-9124-cff28e03d0da","name":"Map text prompt","type":"n8n-nodes-base.set","position":[-2864,272],"typeVersion":3.4},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id}}"},"id":"1b80ef7c-24f4-42b3-89e8-196a6f9c0703","name":"Gets WhatsApp Voicemail Source URL","type":"n8n-nodes-base.whatsApp","position":[-3088,480],"webhookId":"bbe62f3d-8788-49d4-aae6-9e9411446d44","typeVersion":1},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].image.id }}"},"id":"3c2fee84-b78b-4d93-b87c-915f6651b2b9","name":"Gets WhatsApp Image Source URL","type":"n8n-nodes-base.whatsApp","position":[-3088,720],"webhookId":"c2982df4-1d8d-4669-a724-44ae17d11e6c","typeVersion":1},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"c19da9d3-24ed-475f-8c35-a71735c31feb","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[-2864,720],"typeVersion":4.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2fc5c912-629b-4cbe-b5e3-7e3f0651c628","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"26a3d85c-0815-48ff-85ce-713129a1107c","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"840b95b8-6559-4fb7-b32c-651451d6d0d2","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"id":"73803790-24f0-42c2-bb9f-6ead2612889f","name":"Route Types","type":"n8n-nodes-base.switch","position":[-3472,480],"typeVersion":3.2},{"parameters":{"operation":"send","phoneNumberId":"785495297983468","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.message }}","additionalFields":{}},"id":"8483224a-2efd-4438-a0ff-69a4a209b04a","name":"Send Response","type":"n8n-nodes-base.whatsApp","position":[-256,448],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1632,736],"id":"2dcc8285-2449-456c-83db-57b0eae08e2d","name":"Google Gemini Chat Model"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-2432,720],"id":"df5960ec-3413-4196-b7ff-2986cef8fc88","name":"Analyze image","credentials":{"googlePalmApi":{"id":"kLT0JbVkWr355FLq","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-2432,480],"id":"bfdd8873-1de7-4cc9-b769-2a4855c36034","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"kLT0JbVkWr355FLq","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"You are an intelligent AI agent called \"AI Second Brain\" that manages a user's productivity inside WhatsApp.\n\nYour role:\n- Understand the user's natural language message.\n- Decide if the user wants to SAVE a note or EXECUTE a COMMAND.\n- If it’s a COMMAND, select the correct TOOL to call and extract all parameters needed.\n\nAlways respond in **strict JSON format** that n8n can parse easily.\nDo not include explanations or extra text — only JSON.\n-Your primary task is to parse the user's message for a reminder request. If a reminder is found, you must output a single, valid JSON object containing two keys: \"reminder_message\" (the content of the reminder) and \"reminder_time\" (the exact ISO 8601 timestamp for when to send it). If no reminder is detected, you must output an empty JSON object: {}.\n\n------------------------\n### Available Tools:\n- \"note_saver\" → store a note (text, audio, or image)\n- \"summarizer\" → summarize the user’s last 3 notes\n- \"email_sender\" → send an email using Gmail. Parameters: \"email\" (recipient), \"subject\", \"body\" (the email content) or \"body_source\": \"last_note\" (if body should be the last note).\n- \"calendar_scheduler\" → schedule a meeting using Google Calendar. Parameters: \"time\" (when the event should be), \"topic\" (the event title), \"attendees\" (optional, comma-separated emails).\n- \"reminder_setter\" → create a reminder using a timer + message\n\n------------------------\n### Example Intents & Tool Mappings:\n\n📝 **Save Note (Text)**\nUser: \"Here's my idea for the next sprint: add voice commands.\"\n→\n{\n  \"intent\": \"save_note_text\",\n  \"tool\": \"note_saver\",\n  \"parameters\": {\n    \"type\": \"text\",\n    \"content\": \"Here's my idea for the next sprint: add voice commands.\"\n  }\n}\n\n🎙️ **Save Note (Audio)**\nUser: \"Save this audio note.\"\n→\n{\n  \"intent\": \"save_note_audio\",\n  \"tool\": \"note_saver\",\n  \"parameters\": {\n    \"type\": \"audio\"\n  }\n}\n\n🖼️ **Save Note (Image)**\nUser: \"Save this image as a note.\"\n→\n{\n  \"intent\": \"save_note_image\",\n  \"tool\": \"note_saver\",\n  \"parameters\": {\n    \"type\": \"image\"\n  }\n}\n\n🧠 **Summarize Notes**\nUser: \"Summarize my last 3 notes.\"\n→\n{\n  \"intent\": \"command_summarize\",\n  \"tool\": \"summarizer\",\n  \"parameters\": {}\n}\n\n📧 **Send Email**\nUser: \"Send an email to hello@example.com with the subject Project Update using my last note as the body.\"\n→\n{\n  \"intent\": \"command_email\",\n  \"tool\": \"email_sender\",\n  \"parameters\": {\n    \"email\": \"hello@example.com\",\n    \"subject\": \"Project Update\",\n    \"body_source\": \"last_note\" // Or \"body\": \"This is the actual email content\"\n  }\n}\nUser: \"Email Mary about the meeting time change: it's now 4 PM.\"\n→\n{\n  \"intent\": \"command_email\",\n  \"tool\": \"email_sender\",\n  \"parameters\": {\n    \"email\": \"mary@example.com\",\n    \"subject\": \"Meeting Time Change\",\n    \"body\": \"Hi Mary, the meeting is now scheduled for 4 PM.\"\n  }\n}\n\n📅 **Schedule Calendar Event**\nUser: \"Schedule a meeting tomorrow at 3 PM about design review with jane@example.com.\"\n→\n{\n  \"intent\": \"command_calendar\",\n  \"tool\": \"calendar_scheduler\",\n  \"parameters\": {\n    \"time\": \"tomorrow 3 PM\",\n    \"topic\": \"design review\",\n    \"attendees\": \"jane@example.com\"\n  }\n}\nUser: \"Create an event next Tuesday at 10 AM for 'Team Sync'.\"\n→\n{\n  \"intent\": \"command_calendar\",\n  \"tool\": \"calendar_scheduler\",\n  \"parameters\": {\n    \"time\": \"next Tuesday at 10 AM\",\n    \"topic\": \"Team Sync\"\n  }\n}\n\n⏰ **Set Reminder**\nUser: \"Remind me in 2 hours to call the client.\"\n→\n{\n  \"intent\": \"command_reminder\",\n  \"tool\": \"reminder_setter\",\n  \"parameters\": {\n    \"delay\": \"2 hours\",\n    \"message\": \"call the client\"\n  }\n}\n\n------------------------\nNow analyze the following user input and respond only with JSON:"}},"id":"d278fbeb-bbfc-4c97-875f-4ee3d6938891","name":"AI Second Brain — Intent Classifier","type":"@n8n/n8n-nodes-langchain.agent","position":[-1504,464],"typeVersion":1.9},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"8b47f650-25c0-4a66-bfb3-f404ea402417","name":"Download Audio","type":"n8n-nodes-base.httpRequest","position":[-2752,480],"typeVersion":4.2},{"parameters":{"jsCode":"// Get the raw output from the AI Agent\nconst rawOutput = $('AI Second Brain — Intent Classifier').item.json.output;\n\n// Find the JSON part within the string\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (jsonMatch) {\n  // Parse the extracted JSON string into a JSON object\n  const cleanJson = JSON.parse(jsonMatch[0]);\n  // Return the clean JSON object\n  return { json: cleanJson };\n} else {\n  // Handle cases where no JSON is found\n  return { error: \"No JSON object found in the AI output.\" };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,464],"id":"8ba75e65-46d0-4a9e-9ed3-d601d0b51837","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tool }}","rightValue":"calendar_scheduler","operator":{"type":"string","operation":"equals"},"id":"4aae28b8-0f7a-43a9-aa91-1985d7a87e9c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9e7cb25-cd8d-408b-b16c-bee38b920674","leftValue":"={{ $json.tool }}","rightValue":"email_sender","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f39c35d6-d02d-49ef-9925-ffa20bd2dab8","leftValue":"={{ $json.tool }}","rightValue":"note_saver","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d96f738-edec-4331-bbdc-97d26c412f9a","leftValue":"={{ $json.tool }}","rightValue":"reminder_setter","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-944,464],"id":"a28b2013-472d-4ef1-b895-3d0578a25f7e","name":"Switch"},{"parameters":{"calendar":{"__rl":true,"value":"purifyairashtrays@gmail.com","mode":"list","cachedResultName":"purifyairashtrays@gmail.com"},"additionalFields":{"summary":"={{ $json.parameters.topic }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-736,256],"id":"4a876fcd-2a10-4364-9e71-f71677f230d3","name":"Create an event"},{"parameters":{"sendTo":"={{ $json.parameters.email }}","subject":"={{ $json.parameters.subject }}","emailType":"text","message":"={{ $json.parameters.body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-720,448],"id":"992a64f1-32cd-4dff-84f8-c35d24f7bf97","name":"Send a message","webhookId":"b3012df9-621a-4388-9350-076789756b67"},{"parameters":{"assignments":{"assignments":[{"id":"ffba8c51-83bd-4866-a8a7-0568d9cf9170","name":"labelIds[0]","value":"sent","type":"string"},{"id":"d4d62b0b-e822-4ae1-9174-d312eb5e066f","name":"message","value":"=I sent email to {{ $('Switch').item.json.parameters.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,448],"id":"a79e8757-9f94-46ca-a4c9-5c59d304fd2a","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"ffba8c51-83bd-4866-a8a7-0568d9cf9170","name":"","value":"","type":"string"},{"id":"d4d62b0b-e822-4ae1-9174-d312eb5e066f","name":"message","value":"=I created and event in your calendar,  Time :  {{ $('Switch').item.json.parameters.time }}  and topic : {{ $('Switch').item.json.parameters.topic }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,256],"id":"efc1ea9c-563d-4dcd-908d-2b02e95ecc8b","name":"Edit Fields1"},{"parameters":{"operation":"send","phoneNumberId":"785495297983468","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.message }}","additionalFields":{}},"id":"085349dd-2cce-4461-911c-65d2d9da0422","name":"Send Response1","type":"n8n-nodes-base.whatsApp","position":[-288,256],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1lk7ja2I5BAvc_hboCgo8C3Xi36yE9_K0xcxwVPrkZSw","mode":"list","cachedResultName":"Note","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk7ja2I5BAvc_hboCgo8C3Xi36yE9_K0xcxwVPrkZSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk7ja2I5BAvc_hboCgo8C3Xi36yE9_K0xcxwVPrkZSw/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tool","displayName":"tool","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"parameters","displayName":"parameters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-640,560],"id":"08770669-decb-48e6-bfab-92c3b14e063c","name":"Append or update row in sheet"},{"parameters":{"assignments":{"assignments":[{"id":"02c3de6e-cadf-4413-b090-ef67fba3150b","name":"note","value":"={{ $json.parameters.content }}","type":"string"},{"id":"244c1803-e1dd-4eec-92bd-d09a48ad2ea0","name":"message","value":"=I created a note in google sheets, the note is :  {{ $json.parameters.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,608],"id":"072acd8b-12eb-4c02-8eb0-0c36dc2cc514","name":"Edit Fields2"},{"parameters":{"operation":"send","phoneNumberId":"785495297983468","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.message }}","additionalFields":{}},"id":"821c762b-1e56-49d1-bf1e-07033fe79e5e","name":"Send Response2","type":"n8n-nodes-base.whatsApp","position":[-240,608],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1}],"connections":{"Route Types":{"main":[[{"node":"Map text prompt","type":"main","index":0}],[{"node":"Gets WhatsApp Voicemail Source URL","type":"main","index":0}],[{"node":"Gets WhatsApp Image Source URL","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Second Brain — Intent Classifier","type":"ai_memory","index":0}]]},"Download Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Map text prompt":{"main":[[{"node":"AI Second Brain — Intent Classifier","type":"main","index":0}]]},"Map image prompt":{"main":[[{"node":"AI Second Brain — Intent Classifier","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Route Types","type":"main","index":0}]]},"Gets WhatsApp Image Source URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Gets WhatsApp Voicemail Source URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Second Brain — Intent Classifier","type":"ai_languageModel","index":0}]]},"Analyze image":{"main":[[{"node":"Map image prompt","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Second Brain — Intent Classifier","type":"main","index":0}]]},"AI Second Brain — Intent Classifier":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create an event","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}],[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send Response1","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send Response2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"820c65eb-1c5a-4753-b063-f9e5ccd31e67","triggerCount":0,"shared":[{"createdAt":"2025-09-29T17:17:32.407Z","updatedAt":"2025-09-29T17:17:32.407Z","role":"workflow:owner","workflowId":"vEXFyOC5spbpi6De","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}