whatsapp-3ub6JoWUT4UvODaG.json
{"createdAt":"2025-09-29T13:51:02.609Z","updatedAt":"2025-09-30T14:46:11.000Z","id":"3ub6JoWUT4UvODaG","name":"whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"You are a helpful AI assistant that can:\n1. Answer questions and have conversations\n2. Create Google Calendar events when users request meetings or appointments\n3. Send emails when users ask you to\n4. Set reminders for tasks (stored in Google Calendar)\n5. Summarize recent notes or messages from our conversation history\n\nWhen creating calendar events:\n- Extract the event title, date, time, and any attendees from the user's request\n- If information is missing, ask the user for clarification\n- Default to 1-hour duration if not specified\n- Use the user's timezone (Africa/Casablanca)\n\nWhen setting reminders for tasks:\n- When user says \"remind me to [task]\" or \"set a reminder for [task]\":\n  * Create a Google Calendar event with title format: \"REMINDER: [task description]\"\n  * Calculate the exact date and time based on user's request\n  * Examples: \"in 2 hours\" = current time + 2 hours, \"tomorrow at 3 PM\" = next day at 15:00\n  * Set duration to 15 minutes for reminder events\n  * Add notification 15 minutes before\n- After creating the reminder, confirm with: \"✅ Reminder set! I've added '[task]' to your calendar for [date/time]. You'll get a notification.\"\n- IMPORTANT: Explain that the reminder will appear in their Google Calendar with notifications\n\nWhen sending emails:\n- Extract the recipient, subject, and message content\n- Confirm before sending if the request is ambiguous\n- If only partial information is provided, ask for the missing details\n\nWhen summarizing notes:\n- When asked to \"summarize my last 3 notes\" or similar requests, review our recent conversation history\n- Provide a concise one-paragraph summary for each of the last 3 meaningful messages or topics discussed\n- Focus on key information, action items, or important details\n- Number each summary (1, 2, 3) for clarity\n- If there aren't 3 distinct notes/topics, summarize what's available\n\nAlways be helpful and ask for clarification when needed. Current date and time: Tuesday, September 30, 2025 (Africa/Casablanca timezone)."}},"id":"82ac7017-4e86-4d38-9f4f-0ee88d9c4351","name":"Knowledge Base Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[976,-352],"typeVersion":1.9},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memory_{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"},"id":"4c7d6a9d-506a-4437-980a-1618a0576bf8","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1328,416],"typeVersion":1.3},{"parameters":{"updates":["messages"],"options":{}},"id":"06cb5e69-1cfd-4ef1-987c-ea61f977935f","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[-880,416],"webhookId":"ab09ca3e-53b2-4079-9ddc-bccb2f69551b","typeVersion":1,"credentials":{"whatsAppTriggerApi":{"id":"hNuvsP0KSvuNeq6W","name":"WhatsApp OAuth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"48af2dcc-4ce9-45fc-abfc-54f803930092","name":"text","type":"string","value":"=User image description:{{ $json.content.parts[0].text }}\n\n"}]},"options":{}},"id":"8b476b93-3a5e-4796-b36e-f57d17a2335b","name":"Map image prompt","type":"n8n-nodes-base.set","position":[624,416],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"38aec976-a32c-4b0e-85f4-c90adc16abc9","name":"text","type":"string","value":"={{ $json.messages[0].text.body }}"}]},"options":{}},"id":"cae5b5a3-a31d-4a90-a08f-06b8ac919e62","name":"Map text prompt","type":"n8n-nodes-base.set","position":[-240,-32],"typeVersion":3.4},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id}}"},"id":"74e05ad9-d8a7-4d07-976c-9e6f4eca7366","name":"Gets WhatsApp Voicemail Source URL","type":"n8n-nodes-base.whatsApp","position":[-240,176],"webhookId":"bbe62f3d-8788-49d4-aae6-9e9411446d44","typeVersion":1,"credentials":{"whatsAppApi":{"id":"NjoSVy9VuSv21spa","name":"WhatsApp account"}}},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].image.id }}"},"id":"4a6eb1f5-5ffa-45f0-ad4c-84ab2f0ef9c6","name":"Gets WhatsApp Image Source URL","type":"n8n-nodes-base.whatsApp","position":[-240,416],"webhookId":"c2982df4-1d8d-4669-a724-44ae17d11e6c","typeVersion":1,"credentials":{"whatsAppApi":{"id":"NjoSVy9VuSv21spa","name":"WhatsApp account"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"69851957-0a84-4c11-9be2-85f92e783690","name":"Download Voicemail","type":"n8n-nodes-base.httpRequest","position":[-16,176],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"ZbfAfFiVgr60FZlq","name":"Header Auth account"},"whatsAppApi":{"id":"NjoSVy9VuSv21spa","name":"WhatsApp account"}}},{"parameters":{"url":"={{$json[\"url\"]}}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"a9814c32-88fc-4b2e-857a-49b5dfcbbe33","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[-16,416],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"hFsywAbP3EZ0Vinm","name":"Bearer Auth account 2"},"whatsAppApi":{"id":"NjoSVy9VuSv21spa","name":"WhatsApp account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2fc5c912-629b-4cbe-b5e3-7e3f0651c628","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"26a3d85c-0815-48ff-85ce-713129a1107c","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"840b95b8-6559-4fb7-b32c-651451d6d0d2","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"id":"a38ac72c-7d59-4219-b27a-2b51737b1c3c","name":"Route Types","type":"n8n-nodes-base.switch","position":[-656,384],"typeVersion":3.2},{"parameters":{"operation":"send","phoneNumberId":"727443487120925","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"id":"0f5aca3f-074d-4114-b62d-b40af02abd26","name":"Send Response","type":"n8n-nodes-base.whatsApp","position":[2080,-320],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1,"credentials":{"whatsAppApi":{"id":"NjoSVy9VuSv21spa","name":"WhatsApp account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1520,352],"id":"6142683a-ee0c-4726-8394-e629d96fab4a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"8IokudigvXDO7LZM","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-lite","mode":"list","cachedResultName":"models/gemini-2.5-flash-lite"},"text":"","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[192,416],"id":"ed4a6c31-7792-4b35-be0a-a2d95cfac583","name":"Analyze image","credentials":{"googlePalmApi":{"id":"kLT0JbVkWr355FLq","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1824,320],"id":"7e8a75bb-1c55-4d2b-a952-e7dfe2f02b95","name":"Send a message in Gmail","webhookId":"a6a0b6ba-4c36-49da-99b2-504c13f766f0","credentials":{"gmailOAuth2":{"id":"IglcnHjln9vPbtwh","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ayoubhabibeddine@gmail.com","mode":"list","cachedResultName":"ayoubhabibeddine@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","location":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2048,240],"id":"c22414be-2f8f-4ed0-b01b-76a999dedaa5","name":"Create an event in Google Calendar","notesInFlow":false,"credentials":{"googleCalendarOAuth2Api":{"id":"jeXhB1pEN32bSlRP","name":"Google Calendar account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d3222c2e-6dfc-4dc2-b729-cca03dc5bff3","name":"text","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,176],"id":"a19ed8d6-a70c-44f4-b631-e01945cd5ee4","name":"map audio"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[208,176],"id":"7a358326-35d5-4940-aef2-34cb8ecba887","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"8IokudigvXDO7LZM","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Document', ``, 'string') }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1696,352],"id":"032775f6-ed79-4a36-b0b1-e0bbf836cb63","name":"Append or update row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"w5RZJel98sjLLyF2","name":"Google Sheets account 3"}}}],"connections":{"Route Types":{"main":[[{"node":"Map text prompt","type":"main","index":0}],[{"node":"Gets WhatsApp Voicemail Source URL","type":"main","index":0}],[{"node":"Gets WhatsApp Image Source URL","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Knowledge Base Agent","type":"ai_memory","index":0}]]},"Download Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Map text prompt":{"main":[[{"node":"Knowledge Base Agent","type":"main","index":0}]]},"Map image prompt":{"main":[[{"node":"Knowledge Base Agent","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Route Types","type":"main","index":0}]]},"Download Voicemail":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Knowledge Base Agent":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Gets WhatsApp Image Source URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Gets WhatsApp Voicemail Source URL":{"main":[[{"node":"Download Voicemail","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Knowledge Base Agent","type":"ai_languageModel","index":0}]]},"Analyze image":{"main":[[{"node":"Map image prompt","type":"main","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"Knowledge Base Agent","type":"ai_tool","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"Knowledge Base Agent","type":"ai_tool","index":0}]]},"map audio":{"main":[[{"node":"Knowledge Base Agent","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"map audio","type":"main","index":0}]]},"Append or update row in sheet in Google Sheets":{"ai_tool":[[{"node":"Knowledge Base Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e4381b3-4b4a-4965-9d88-a63b82e10304","triggerCount":1,"shared":[{"createdAt":"2025-09-29T13:51:02.622Z","updatedAt":"2025-09-29T13:51:02.622Z","role":"workflow:owner","workflowId":"3ub6JoWUT4UvODaG","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}