zakaria-workflow-QX6KHWLZFzPq5mvK.json
{"createdAt":"2025-09-30T10:40:02.745Z","updatedAt":"2025-09-30T10:40:02.745Z","id":"QX6KHWLZFzPq5mvK","name":"zakaria workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"id":"0b8d1230-4899-4af5-9802-8a7eebbe72cc","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[-64,448],"webhookId":"ab09ca3e-53b2-4079-9ddc-bccb2f69551b","typeVersion":1},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].audio.id}}"},"id":"539a726d-cf86-499b-a9d3-55c1fc19b6cb","name":"Gets WhatsApp Voicemail Source URL","type":"n8n-nodes-base.whatsApp","position":[608,432],"webhookId":"bbe62f3d-8788-49d4-aae6-9e9411446d44","typeVersion":1},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $json.messages[0].image.id }}"},"id":"543b5b74-115f-4558-8a6f-b50cb7d02dd0","name":"Gets WhatsApp Image Source URL","type":"n8n-nodes-base.whatsApp","position":[624,672],"webhookId":"c2982df4-1d8d-4669-a724-44ae17d11e6c","typeVersion":1},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"id":"dcb5a854-951d-4837-8acd-5bd5e1e6a573","name":"Download Image","type":"n8n-nodes-base.httpRequest","position":[848,672],"typeVersion":4.2},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1552,672],"id":"3b864ed9-1f96-44f3-8b1f-88ad55de30ab","name":"Google Gemini Chat Model"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1008,672],"id":"f2038531-ade3-4164-a9de-368ade6db1f5","name":"Analyze image"},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1040,432],"id":"1278f689-3e18-4e0f-819f-2d71ed12c729","name":"Transcribe a recording"},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"76f3d39a-1189-4269-abd2-e938de074382","name":"Download Audio","type":"n8n-nodes-base.httpRequest","position":[864,432],"typeVersion":4.2},{"parameters":{"calendar":{"__rl":true,"value":"purifyairashtrays@gmail.com","mode":"list","cachedResultName":"purifyairashtrays@gmail.com"},"additionalFields":{"summary":"={{ $json.parameters.topic }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[2544,208],"id":"848117f7-9eb5-474e-99ca-2ce5213326eb","name":"Create an event"},{"parameters":{"sendTo":"={{ $json.parameters.email }}","subject":"={{ $json.parameters.subject }}","emailType":"text","message":"={{ $json.parameters.body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2544,368],"id":"ff7dbe83-347a-4855-b91e-db7332f8980f","name":"Send a message","webhookId":"b3012df9-621a-4388-9350-076789756b67"},{"parameters":{"content":"## WhatsApp Trigger & Routing","height":720,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-128,144],"typeVersion":1,"id":"879c5663-4132-4ce6-8fa2-b8eec871bc27","name":"Sticky Note"},{"parameters":{"content":"## AI Second Brain: Intent Understanding","height":720,"width":400,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1472,144],"typeVersion":1,"id":"d609466b-62e3-47cf-b060-60631286b9f1","name":"Sticky Note1"},{"parameters":{"content":"## Message Preprocessing\n**Covers steps like mapping prompts, downloading media, and transcription.** ","height":720,"width":1328,"color":3},"type":"n8n-nodes-base.stickyNote","position":[128,144],"typeVersion":1,"id":"c0d5fa6d-9ee8-4423-8dfc-cc1824e63b6c","name":"Sticky Note2"},{"parameters":{"content":"## Decision Logic & Intent Routing","height":720,"width":400,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1888,144],"typeVersion":1,"id":"70461feb-c880-40d6-ba3c-1eab03bf959f","name":"Sticky Note3"},{"parameters":{"content":"## Action Execution & Responses","height":720,"width":1056},"type":"n8n-nodes-base.stickyNote","position":[2304,144],"typeVersion":1,"id":"3559c2ee-8c43-4cb3-8ea3-23efbc9af1e7","name":"Sticky Note4"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2fc5c912-629b-4cbe-b5e3-7e3f0651c628","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"26a3d85c-0815-48ff-85ce-713129a1107c","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"840b95b8-6559-4fb7-b32c-651451d6d0d2","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.messages[0].type }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"id":"d09f83d1-c525-4fe7-9166-3b0bf56f9645","name":"Detect Message Type (Text / Audio / Image)","type":"n8n-nodes-base.switch","position":[176,432],"typeVersion":3.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"=memory_{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"},"id":"b841c4b3-2120-46bd-97cc-d4aaa544481f","name":"Memory Session Manager","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1648,608],"typeVersion":1.3},{"parameters":{"assignments":{"assignments":[{"id":"38aec976-a32c-4b0e-85f4-c90adc16abc9","name":"text","type":"string","value":"={{ $json.messages[0].text.body }}"}]},"options":{}},"id":"ad501ffc-07a9-4d16-88d4-bfb1f2f5ff17","name":"Extract Text Message","type":"n8n-nodes-base.set","position":[864,224],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"You are an intelligent AI agent called \"AI Second Brain\" that manages a user's productivity inside WhatsApp.\n\nYour role:\n- Understand the user's natural language message.\n- Decide if the user wants to SAVE a note or EXECUTE a COMMAND.\n- If it’s a COMMAND, select the correct TOOL to call and extract all parameters needed.\n-if in the image contain text put it as a note\n\nAlways respond in **strict JSON format** that n8n can parse easily.\nDo not include explanations or extra text — only JSON.\n-Your primary task is to parse the user's message for a reminder request. If a reminder is found, you must output a single, valid JSON object containing two keys: \"reminder_message\" (the content of the reminder) and \"reminder_time\" (the exact ISO 8601 timestamp for when to send it). If no reminder is detected, you must output an empty JSON object: {}.\n\n------------------------\n### Available Tools:\n- \"note_saver\" → store a note (text, audio, or image)\n- \"summarizer\" → summarize the user’s last 3 notes\n- \"email_sender\" → send an email using Gmail. Parameters: \"email\" (recipient), \"subject\", \"body\" (the email content) or \"body_source\": \"last_note\" (if body should be the last note).\n- \"calendar_scheduler\" → schedule a meeting using Google Calendar. Parameters: \"time\" (when the event should be), \"topic\" (the event title), \"attendees\" (optional, comma-separated emails).\n- \"reminder_setter\" → create a reminder using a timer + message\n\n------------------------\n### Example Intents & Tool Mappings:\n\n📝 **Save Note (Text)**\nUser: \"Here's my idea for the next sprint: add voice commands.\"\n→\n{\n  \"intent\": \"save_note_text\",\n  \"tool\": \"note_saver\",\n  \"parameters\": {\n    \"type\": \"text\",\n    \"content\": \"Here's my idea for the next sprint: add voice commands.\"\n  }\n}\n\n🎙️ **Save Note (Audio)**\nUser: \"Save this audio note.\"\n→\n{\n  \"intent\": \"save_note_audio\",\n  \"tool\": \"note_saver\",\n  \"parameters\": {\n    \"type\": \"audio\"\n  }\n}\n\n🖼️ **Save Note (Image)**\nUser: \"Save this image as a note.\"\n→\n{\n  \"intent\": \"save_note_image\",\n  \"tool\": \"note_saver\",\n  \"parameters\": {\n    \"type\": \"image\"\n  }\n}\n\n🧠 **Summarize Notes**\nUser: \"Summarize my last 3 notes.\"\n→\n{\n  \"intent\": \"command_summarize\",\n  \"tool\": \"summarizer\",\n  \"parameters\": {}\n}\n\n📧 **Send Email**\nUser: \"Send an email to hello@example.com with the subject Project Update using my last note as the body.\"\n→\n{\n  \"intent\": \"command_email\",\n  \"tool\": \"email_sender\",\n  \"parameters\": {\n    \"email\": \"hello@example.com\",\n    \"subject\": \"Project Update\",\n    \"body_source\": \"last_note\" // Or \"body\": \"This is the actual email content\"\n  }\n}\nUser: \"Email Mary about the meeting time change: it's now 4 PM.\"\n→\n{\n  \"intent\": \"command_email\",\n  \"tool\": \"email_sender\",\n  \"parameters\": {\n    \"email\": \"mary@example.com\",\n    \"subject\": \"Meeting Time Change\",\n    \"body\": \"Hi Mary, the meeting is now scheduled for 4 PM.\"\n  }\n}\n\n📅 **Schedule Calendar Event**\nUser: \"Schedule a meeting tomorrow at 3 PM about design review with jane@example.com.\"\n→\n{\n  \"intent\": \"command_calendar\",\n  \"tool\": \"calendar_scheduler\",\n  \"parameters\": {\n    \"time\": \"tomorrow 3 PM\",\n    \"topic\": \"design review\",\n    \"attendees\": \"jane@example.com\"\n  }\n}\nUser: \"Create an event next Tuesday at 10 AM for 'Team Sync'.\"\n→\n{\n  \"intent\": \"command_calendar\",\n  \"tool\": \"calendar_scheduler\",\n  \"parameters\": {\n    \"time\": \"next Tuesday at 10 AM\",\n    \"topic\": \"Team Sync\"\n  }\n}\n\n⏰ **Set Reminder**\nUser: \"Remind me in 2 hours to call the client.\"\n→\n{\n  \"intent\": \"command_reminder\",\n  \"tool\": \"reminder_setter\",\n  \"parameters\": {\n    \"delay\": \"2 hours\",\n    \"message\": \"call the client\"\n  }\n}\n\n------------------------\nNow analyze the following user input and respond only with JSON:"}},"id":"331e6228-3df2-40ba-84bd-1c3c46e8782b","name":"AI Intent Classifier (Gemini)","type":"@n8n/n8n-nodes-langchain.agent","position":[1552,432],"typeVersion":1.9},{"parameters":{"jsCode":"// Get the raw output from the AI Agent\nconst rawOutput = $('AI Intent Classifier (Gemini)').item.json.output;\n\n// Find the JSON part within the string\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (jsonMatch) {\n  // Parse the extracted JSON string into a JSON object\n  const cleanJson = JSON.parse(jsonMatch[0]);\n  // Return the clean JSON object\n  return { json: cleanJson };\n} else {\n  // Handle cases where no JSON is found\n  return { error: \"No JSON object found in the AI output.\" };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,432],"id":"f2239e0c-ca3f-44cd-84d9-9d007c437106","name":"Parse AI JSON Output"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tool }}","rightValue":"calendar_scheduler","operator":{"type":"string","operation":"equals"},"id":"4aae28b8-0f7a-43a9-aa91-1985d7a87e9c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9e7cb25-cd8d-408b-b16c-bee38b920674","leftValue":"={{ $json.tool }}","rightValue":"email_sender","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f39c35d6-d02d-49ef-9925-ffa20bd2dab8","leftValue":"={{ $json.tool }}","rightValue":"note_saver","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d96f738-edec-4331-bbdc-97d26c412f9a","leftValue":"={{ $json.tool }}","rightValue":"=reminder_setter","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2112,400],"id":"7ce9d3e8-2fa9-4077-b9b9-8ae5727f2cf6","name":"Route by Tool (Intent Switch)"},{"parameters":{"assignments":{"assignments":[{"id":"ffba8c51-83bd-4866-a8a7-0568d9cf9170","name":"","value":"","type":"string"},{"id":"d4d62b0b-e822-4ae1-9174-d312eb5e066f","name":"message","value":"=I created and event in your calendar,  Time :  {{ $('Route by Tool (Intent Switch)').item.json.parameters.time }}  and topic : {{ $('Route by Tool (Intent Switch)').item.json.parameters.topic }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2816,208],"id":"a476f68f-a7bd-4831-85e7-49efcea2f27a","name":"Format Calendar Confirmation Message"},{"parameters":{"operation":"send","phoneNumberId":"785495297983468","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.message }}","additionalFields":{}},"id":"1271690c-e7cc-4a62-ad49-ba9efc22fb78","name":"Send WhatsApp Confirmation (Calendar)","type":"n8n-nodes-base.whatsApp","position":[3040,208],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"ffba8c51-83bd-4866-a8a7-0568d9cf9170","name":"labelIds[0]","value":"sent","type":"string"},{"id":"d4d62b0b-e822-4ae1-9174-d312eb5e066f","name":"message","value":"=I sent email to {{ $('Route by Tool (Intent Switch)').item.json.parameters.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2816,368],"id":"a7f70935-69ed-4439-9481-cb75549a23ed","name":"Format Email Confirmation Message"},{"parameters":{"operation":"send","phoneNumberId":"785495297983468","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.message }}","additionalFields":{}},"id":"e8bbb904-a10e-4351-a231-935e6306fd8c","name":"Send WhatsApp Confirmation (Email)","type":"n8n-nodes-base.whatsApp","position":[3072,368],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1lk7ja2I5BAvc_hboCgo8C3Xi36yE9_K0xcxwVPrkZSw","mode":"list","cachedResultName":"Note","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk7ja2I5BAvc_hboCgo8C3Xi36yE9_K0xcxwVPrkZSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk7ja2I5BAvc_hboCgo8C3Xi36yE9_K0xcxwVPrkZSw/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tool","displayName":"tool","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"parameters","displayName":"parameters","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2576,528],"id":"97c27fd8-f0fd-4e90-94cd-c01cde24cae8","name":"Save Note to Google Sheet"},{"parameters":{"assignments":{"assignments":[{"id":"02c3de6e-cadf-4413-b090-ef67fba3150b","name":"note","value":"={{ $json.parameters.content }}","type":"string"},{"id":"244c1803-e1dd-4eec-92bd-d09a48ad2ea0","name":"message","value":"=I created a note in google sheets, the note is :  {{ $json.parameters.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2848,528],"id":"fbffdfd4-1f3c-48d3-91c2-e52c1544b9a0","name":"Format Note Confirmation Message"},{"parameters":{"operation":"send","phoneNumberId":"785495297983468","recipientPhoneNumber":"={{ $json.message }}","textBody":"={{ $json.message }}","additionalFields":{}},"id":"fe7c4ab6-8d3c-4733-b913-91669c197467","name":"Send WhatsApp Confirmation (Note)","type":"n8n-nodes-base.whatsApp","position":[3088,528],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"718f4671-2dfa-4bf0-8aef-dd0520468024","name":"message","value":"={{ $json.parameters.message }}","type":"string"},{"id":"db524823-b631-4f41-96b8-e51793da3391","name":"delay","value":"={{ $json.parameters.delay }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2592,704],"id":"f8b99a9a-04ac-44e8-b7e4-df850bf689bf","name":"Extract Reminder Data (Delay + Message)"},{"parameters":{"jsCode":"const input = $json; // First item of array\nconst delayStr = input.delay.toLowerCase(); // e.g. \"1 min\", \"2h\"\nconst msg = input.message;\n\nconst match = delayStr.match(/(\\d+)\\s*(s|sec|secs|second|seconds|m|min|mins|minute|minutes|h|hr|hrs|hour|hours)/);\n\nif (!match) {\n  throw new Error(\"Invalid delay format. Use e.g. '2h', '5 min', '30s'\");\n}\n\nconst value = parseInt(match[1]);\nconst unit = match[2];\n\nlet delaySeconds = 0;\n\nif (unit.startsWith('s')) delaySeconds = value;\nelse if (unit.startsWith('m')) delaySeconds = value * 60;\nelse if (unit.startsWith('h')) delaySeconds = value * 60 * 60;\n\nreturn [\n  {\n    json: {\n      message: msg,\n      delaySeconds\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2768,704],"id":"ce04730e-bfc3-471f-b42d-462521687b38","name":"Convert Delay to Seconds"},{"parameters":{"amount":"={{ $json.delaySeconds }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2928,704],"id":"641d46f8-c9ca-4266-aea6-b8b48ae66b4f","name":"Wait Until Reminder Time","webhookId":"4e31cb79-82b0-4788-acd1-b95ab338cd21"},{"parameters":{"operation":"send","phoneNumberId":"785495297983468","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.message }}","additionalFields":{"previewUrl":false}},"id":"2ede29f7-1997-41b3-b0f0-308922231ec1","name":"Send Reminder Message","type":"n8n-nodes-base.whatsApp","position":[3120,704],"webhookId":"23834751-5066-48ba-8e19-549680df2b27","typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"c6f6779a-24ba-4451-a5ab-0d82921c8640","name":"text","value":"={{ $json.content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,672],"id":"90957b40-cc62-476b-abd2-1e7f7b9afc85","name":"Format img output"}],"connections":{"Download Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Detect Message Type (Text / Audio / Image)","type":"main","index":0}]]},"Gets WhatsApp Image Source URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Gets WhatsApp Voicemail Source URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Intent Classifier (Gemini)","type":"ai_languageModel","index":0}]]},"Analyze image":{"main":[[{"node":"Format img output","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Intent Classifier (Gemini)","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Format Email Confirmation Message","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Format Calendar Confirmation Message","type":"main","index":0}]]},"Detect Message Type (Text / Audio / Image)":{"main":[[{"node":"Extract Text Message","type":"main","index":0}],[{"node":"Gets WhatsApp Voicemail Source URL","type":"main","index":0}],[{"node":"Gets WhatsApp Image Source URL","type":"main","index":0}]]},"Memory Session Manager":{"ai_memory":[[{"node":"AI Intent Classifier (Gemini)","type":"ai_memory","index":0}]]},"Extract Text Message":{"main":[[{"node":"AI Intent Classifier (Gemini)","type":"main","index":0}]]},"AI Intent Classifier (Gemini)":{"main":[[{"node":"Parse AI JSON Output","type":"main","index":0}]]},"Parse AI JSON Output":{"main":[[{"node":"Route by Tool (Intent Switch)","type":"main","index":0}]]},"Route by Tool (Intent Switch)":{"main":[[{"node":"Create an event","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}],[{"node":"Save Note to Google Sheet","type":"main","index":0}],[{"node":"Extract Reminder Data (Delay + Message)","type":"main","index":0}]]},"Format Calendar Confirmation Message":{"main":[[{"node":"Send WhatsApp Confirmation (Calendar)","type":"main","index":0}]]},"Format Email Confirmation Message":{"main":[[{"node":"Send WhatsApp Confirmation (Email)","type":"main","index":0}]]},"Save Note to Google Sheet":{"main":[[{"node":"Format Note Confirmation Message","type":"main","index":0}]]},"Format Note Confirmation Message":{"main":[[{"node":"Send WhatsApp Confirmation (Note)","type":"main","index":0}]]},"Extract Reminder Data (Delay + Message)":{"main":[[{"node":"Convert Delay to Seconds","type":"main","index":0}]]},"Convert Delay to Seconds":{"main":[[{"node":"Wait Until Reminder Time","type":"main","index":0}]]},"Wait Until Reminder Time":{"main":[[{"node":"Send Reminder Message","type":"main","index":0}]]},"Format img output":{"main":[[{"node":"AI Intent Classifier (Gemini)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bf838d14-df57-4a66-b5ae-829cd9d3da80","triggerCount":0,"shared":[{"createdAt":"2025-09-30T10:40:02.778Z","updatedAt":"2025-09-30T10:40:02.778Z","role":"workflow:owner","workflowId":"QX6KHWLZFzPq5mvK","projectId":"Y7ENNAbt7AnhyYc8"}],"tags":[]}